<div class="shop"  ng-class="{transitionIn: transitionIn}">

	<h1>Shop</h1>
	
	<div class="loaded" ng-show="loadingStatus == 'loading'">
		<p>
			loading...
		</p>
	</div>

	<div class="loaded" ng-show="loadingStatus == 'error'">
		<p>
			oops, something went wrong. try refreshing the page.
		</p>
	</div>

	<div class="loaded" ng-show="loadingStatus == 'loaded'">

			<div class="row"  
			ng-repeat="item in items track by $index"  
			ng-if="$index % 4 == 0">

		    	<div class="three columns"  
				ng-repeat="i in [$index, $index + 1, $index + 2, $index + 3]" 
				ng-if="items[i] != null" >

					<img class="u-max-full-width" ng-src="{{items[i].uploaded_images[0].uploaded_image_path_500}}">
					<p>
						{{items[i].page_title}}
						<br>
						{{items[i].detail_Gen1 | currency}}
					</p>

				</div>	

			</div>

		</div>

	</div>



</div>