<div class="shop"  ng-class="{transitionIn: transitionIn}">

	<h1>Shop</h1>
	
	<div ng-controller="ShopFilterCtrl" class="shop-filter" >
    	<ul>
    		<li ng-repeat="item in items track by $index" ng-class="{'active': item.id == states.activeItem}" ng-click="changePage(item.id)">{{item.title}}</li>
    	</ul>
    </div>
	
	<div class="loaded" ng-show="loadingStatus == 'loading'">
		<p>
			loading...
		</p>
	</div>

	<div class="loaded" ng-show="loadingStatus == 'error'">
		<p>
			oops, something went wrong. try refreshing the page.
		</p>
	</div>

	<div class="loaded" ng-show="loadingStatus == 'loaded'">

		<div class="row"  
		ng-repeat="item in items track by $index"  
		ng-if="$index % 3 == 0">

	    	<div class="four columns"  
			ng-repeat="i in [$index, $index + 1, $index + 2]" 
			ng-if="items[i] != null" >

				<div class="clickable-item"
				ng-click="gotoItem('{{items[i].unique_reference_id}}', '{{items[i].page_title}}')" >

					<img class="u-max-full-width" ng-src="{{items[i].uploaded_images[0].uploaded_image_path_500}}">
					<p>
						<span class"item-title">{{items[i].page_title}}</span>
						<br>
						<span class"item-price">{{items[i].detail_Gen1 | currency}}</span>
					</p>

				</div>

			</div>	

		</div>

	</div>

</div>


